* html {
	font-size: calc(100% * ( $font-size / $browser-font-size ));
}

html {
	-ms-overflow-x: hidden;
	overflow-x: hidden;

	// opacity: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: $body-font-family;
	font-size: $font-size;
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
    word-wrap: break-word;
}