input {
    border: 0;

    &:focus {
        outline: none;
    }
}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.center{
        justify-content: center;
    }

    &.row {
        flex-direction: row;
    }
}