/**
 * Headings.
 */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-style: $heading-font-style;
     font-family: $heading-font-family;

     margin: 0 0 20px;
     line-height: 1.4;
 }
 
 h1 {
     font-size: 2.5em;
     line-height: 1.2em;

     &.--border-left {
         border-left: 6px solid var(--primary-color, $primary-color);
         padding-left: 0.8em;
     }
     span{
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            width: 80%;
            height: 5px;
            right: -8px;
            bottom: 6px;
            background-color: var(--primary-color, $primary-color);
            z-index: -1;
        }
    }
 }
 
 h2 {
     font-size: 2em;
 }
 
 h3 {
     font-size: 1.8em;
 }
 
 h4 {
     line-height: 1em;
     font-weight: 400;
 }
 
 h5 {
     font-size: 1.2em;
     font-weight: 400;
 }
 
 h6 {
     font-size: 1em;
     font-weight: 400;
 }

 .headline {
    &.title {
        line-height: .8em;
        font-weight: 400;
    }

    &.large{
        font-size: 4em;
    }
 }


 .tagline {
     font-family: $primary-font-family;

     &.header{
         font-size: 3em;
         line-height: 1em;
         position: relative;
         z-index: 1;
         max-width: 400px;

         &::after {
             content: '';
             position: absolute;
             bottom: 4px;
             height: 5px;
             left: 5%;
             width: 150px;

             background-color: var(--primary-color, $primary-color);

             z-index: -1;
        }
     }
 }

 p {
    font-family: $secondary-font-family;

    &.title {
        &.sub-paragraph {
            font-size: 16px;
        }
    }

    &.heading--sub-paragraph {
        width: 600px;
        margin: auto;
    }
 }

 a {
    text-decoration: none;
    color: var(--secondary-color, $secondary-color);

    @include transition($transition);

    &:hover {
        color: darken($secondary-color, 15%);
    }
 }



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .tagline {
        &.header {
            max-width: 100%;
        }
    }

    p {
        &.heading--sub-paragraph {
            width: 100%;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}