
.floorplan-container#custom-rooms--floorplan {
    .location-container {
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 10px;

        i {
            margin-right: 10px;
            font-size: 1.5em;
            position: relative;

            @include transform(translateY(-10px));

            &::after {
                content: '';
                position: absolute;
                bottom: -6px;
                left: 50%;
                width: 5px;
                height: 2px;
                background-color: var(--secondary-color, $secondary-color);

                @include transform(translateX(-48%));
                @include animation(marker-anim 1s linear infinite);
            }
        }
    }

   .inner-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
        padding: 5px 0;

        svg {
            rect,
            polygon, 
            polyline {
                opacity: 0.5 !important;

                &.is-active {
                    cursor: pointer;

                    &:hover {
                        fill: var(--primary-color, $primary-color) !important;
                    }
                }

                &:not(.is-active) {
                    @include transition($transition);

                    &:hover {
                        opacity: 0.1 !important;
                    }
                }
            }
        }

        .content {
            position: relative;

            .floorplan-progressbar{
                position: absolute;
                width: 5px;
                top: 0;
                right: 0;
                height: 0;
                z-index: 5;

                background-color: var(--primary-color, $primary-color);
            }
            .item {
                position: relative;
                display: none;

                &.is-display {
                    display: flex;
                    flex-direction: column;
                }

                img {
                    width: 100%;
                    height: 280px;
                    
                    object-fit: cover;
                    object-position: center;
                }

                h2 {
                    margin: 0;
                    position: relative;
                    width: -moz-fit-content;
                    width: fit-content;

                    a {
                        color: #000;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 60%;
                        right: 10%;
                        bottom: 8px;
                        border: 2px solid $primary-color;
                        z-index: -1;
                    }
                }
                p {
                    margin-top: 10px !important;
                    margin: 0;
                }
                .price {
                    font-weight: 600;

                    span {
                        margin-left: 1.2em
                    }
                }
                .btn.visit-request {
                    margin-top:  30px;
                    width: -moz-fit-content;
                    width: fit-content;
                }
            }
        }
   }
}

@-webkit-keyframes marker-anim{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
@keyframes marker-anim {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}