.modal#auth-modal {
    .modal-dialog {
        width: 100%;

        .modal-content {
            padding: 1.5em 2em;

            .modal-body {
                display: none;
                grid-template-columns: repeat(1, 1fr);

                &.is-display {
                    display: grid;
                }
                .error-message {
                    border-left: 2px solid #dc3545;
                    padding: 10px;
                    font-size: 12px;
                    display: none;

                    &#register-error-message {
                        margin-bottom: 20px;
                    }
                }
            }

            .login-container {
                h4 {
                    margin-bottom: 30px;
                }
                
                .g-signin2 {
                    .abcRioButtonBlue{
                        height: 50px !important;
                        width: 100% !important;
                        text-transform: uppercase;
                        padding: 0.5em;
                    }
                }

                p.separator {
                    margin: 20px 0;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 45%;
                        top: 10px;
                        left: 0;
                        height: 1px;
                        background-color: #ccc;;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 45%;
                        top: 10px;
                        right: 0;
                        height: 1px;
                        background-color: #ccc;;
                    }
                }
                
                form {
                    margin-top: 20px;

                    .form-group {
                        margin-bottom: 20px;
                    }

                    .button-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 15px;

                        & > .btn {
                            width: 49%;

                            &.create-account {
                                background-color: #ffc107;

                                &::after,
                                &::before{
                                    background-color: #ffc107
                                }
                                
                            }
                        }
                    }
                }

                .btn {
                    width: 100%;
                }
            }

            .register-container {
                form {
                        h4 {
                            margin-bottom: 30px;
                        }

                        .form-group {
                            margin-bottom: 20px;
                        }

                        .create-account {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                }
            }
        }
    }
}