.post-list#posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 4em;

    .item.card.post {
        border: 0;
        border-radius: 0;

        position: relative;

        .card-img-top{
            border-radius: 0;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            position: relative;

            .author-container {
                position: absolute;
                top: 0;
                left: 0;

                display: flex;
                align-items: center;
                flex-direction: row;

                top: -25px;
                background-color: #fff;
                padding: 5px 10px;
                color: var(--primary-color, $primary-color);

                .author-details {
                    margin: 0 10px;
                    small {
                        text-transform: capitalize;
                    }
                }
            }

            h5 {
                color: #000;
            }

            .btn {
                width: 50%;
                align-self: center;
                
                @include transform(scale(0.9));
            }

        }
    }
}