$brand-color: #000 !default;

.brand {
    width: 100px;
    height: 40px;
    background-color: $brand-color;

    &.white {
        background-color: #fff;
    }

    @include svg-mask('../logo/working-space.svg');
}