#hero-image-slider{
    position: relative;
    width: 90%;
    height: 36em;

    .item {
        position: absolute;
        display: none;
        opacity: 0;
        width: 0;
        @include transform(translate(0,0) scale(0.5));

        &:hover{
            &.hover-odd::after,
            &.hover-even::after{
                width: 0;
            }
        }

        &.hover-odd::after,
        &.hover-even::after {
            content: '';
            position: absolute;
            background-color:rgba(#fff, .5);
            width: 100%;
            right: 0;
            height: 100%;

            @include transition($transition);
        }

        &.hover-even::after {
            right: auto;
            left: 0;
        }
        
        &.is-display {
            display: flex;

            &.border-left,
            &.border-right{
                &::before {
                    content: '';
                    position: absolute;
                    background-color: var(--primary-color, $primary-color);
                    height: 100%;
                    width: 2%;
                }
            }

            &.border-right{
                &::before {
                    right: 0;
                }
            }
        }

        img {
            width: 100%;

            object-fit: contain;
        }
    }
}