#hero-image-slider{
    position: relative;
    width: 90%;
    height: 36em;

    .item {
        position: absolute;
        width: auto;

        &:nth-child(1) {
            top: 0;
            width: 70%;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 8px;
                background-color: var(--primary-color, $primary-color);
                z-index: 1;
            }

            img {
                position: relative;
            }
        }

        &:nth-child(2){
            top: 12em;
            right: 0;
            width: 45%;
            z-index: 1;
        }

        &:nth-child(3){
            top: 20em;
            width: 60%;
            z-index: 1;
        }
        &:nth-child(4){
            top: 27em;
            width: 40%;
            right: 5%;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 6px;
                background-color: var(--primary-color, $primary-color);
                z-index: 1;
            }
        }

        img {
            width: 100%;

            object-fit: contain;
        }
    }
}