form.request-form#request-form {
    width: 100%;
    padding: 2em;
    background: #fff;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    position: relative;

    .loading-bar {
        position: absolute;
        width: 0;
        height: 4px;
        background-color: var(--primary-color, $primary-color);
    }

    & > .alert.alert-box {
        position: absolute;
        top: 15px;
        right: 10px;
        border-radius: 0;
        display: none;
        opacity: 0;
        z-index: 5;

        @include transform(translateX(60px));
    }

    .full-width {
        grid-column: 1/3;
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-body{
                form.request-form#request-form {
                    padding: 0;
                }
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    form.request-form#request-form {
        .form-group,
        .btn {
            grid-column: 1/3;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }