.workspace-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 4em;

    .item.workspace.card {
        border: 0;
        border-radius: 0;
        transform: scale(0.95);

        position: relative;
        @include transition($transition);

        .card-body {
            position: relative;
            background-color: #fff;

            .like--container {
                position: absolute;
                right: 5%;
                top: -20px;
                background-color: #fff;

                width: 40px;
                height: 40px;
                border-radius: 10em;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--secondary-color, $secondary-color);

                i {
                    font-size: 1.2em;
                }
            }
        }

        &:hover {
            &::before {
                width: 103%;
                height: 102%;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 50%;
            height: 40%;
            left: -5px;
            top: -5px;
            background-color: var(--primary-color, $primary-color);;
            z-index: -1;
            
            @include transition($transition);
        }

        h4 {
            color: #000;
            @include transition($transition);
        }

        .detail-icontainer{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 10px 0;

            a, p {
                font-size: 12px;
                width: 92%;
                margin-top: -3px;
            }

            p {
                margin-top: -2px;
            }
        }

        .price-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            font-weight: 600;
            text-transform: uppercase;

            a {
                @include transition($transition);
            }

            .price {
                font-size: 1.2em;
                color: lighten( #000, 40%);
                text-transform: lowercase;
            }
        }
    }
}

.action-container.workspace {
    margin: 50px 0;
}