.workingspace {
    &.gutenberg--inspector-controls.icons-list{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 5px;

        .icon-container {
            cursor: pointer;
        }
    }

    &.gutenberg--icon {
        &.center {
            margin-left: 50%;
            transform: translateX(-50%);
        }

        &.right {
            margin-left: 100%;
            transform: translateX(-100%);
        }
    }
}