$background-color: #E6EBE9;

.page-news-insights.page {
    margin-top: 25px;

    .posts {
        .posts-container {
            margin-bottom: $margin-bottom-section;
    
            .head {
                margin-top: 10px;
                padding: 1em;
                background-color: lighten($background-color, 5%);
                display: flex;
                align-items: center;
    
                .label{
                    font-weight: 500;
    
                    span {
                        color: var(--secondary-color, $secondary-color);
                    }
                }
    
                .action-container.categories {
                    margin-left: 10px;
                    
                    @include fit-content;
    
                    a {
                        margin: 0 5px;
    
                        &:not(:first-child) {
                            border-left: 1px solid #ccc;
                            padding-left: 10px;
                        }
                    }
                }
            }
    
            .content {
               & > .post-list#posts {
                    grid-template-columns: repeat(2, 1fr);
                    grid-row-gap: 1em;
    
                    .item.card.post {
                        &:nth-child(n+3) {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
    
                            &.border-top-left.border--post::before {
                                height: 100%;
                            }
    
                            img {
                                width: 40%;
                                height: 100%;
    
                                object-fit: cover;
                                object-position: center;
                            }
    
                            .card-body {
                                height: 100%;
                                padding: 1em 0.6em;
    
                                .author-container {
                                    top: 0;
                                }
                                
                                a {
                                    h5 {
                                        margin: 0;
                                        margin-top: 10px;
                                    }
                                }
    
                                p {
                                    display: none;
                                }
                            }
                        }
    
                        .card-body {
                            .btn {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    
        .right-sidebar {
            .title {
                margin-top: 10px;
                padding: 1em;
                background-color: lighten($background-color, 5%);
                font-weight: 500;
            }
            .content {
                .item.post.card {
                    .card-body {
                        a {
                            h5 {
                                font-size: 1.1em;
                            }
                        }
                    }
                    &:not(:first-child) {
                        margin-top: 20px;
                    }
                }
            }
        }
    
        .right-sidebar .title,
        .posts-container .head {
            margin-bottom: 20px;
        }
    }

    .our-client.posts {
        background-color: lighten($background-color, 5%); 
        width: 100%;

        h1 {
            margin-top: 20px;
        }
    }
}