.background-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 200;
}

.header {
    margin-top: $navigation-margin;
    margin-bottom: $navigation-margin;

    position: relative;

    .action-header-container {
        display: flex;
        align-items: center;

        .btn {
            padding: 5px 15px;
            font-size: 12px;

            &.login {
                margin-right: 20px;
            }

            &.sign-up {
                margin-right: 10px;
            }
        }
    }
} 