$menu-navigation-background: $footer-color;

.header {
    margin-top: $navigation-margin;
    margin-bottom: $navigation-margin;
}

#menu-navigation.backdrop {
    position: absolute;
    top: 4.9%;
    left: 7.2%;
    height: 27px;
    width: 29px;

    color: #fff;
    background-color: $secondary-color;
    opacity: 0;

    .container {
        display: none;
        opacity: 0;

        .navigation {
            margin-top: $navigation-margin;
            margin-bottom: $navigation-margin;
    
            display: flex;
            align-items: center;
            
            list-style-type: none;
    
            li {
                position: relative;
                padding: $navigation-padding;
                cursor: pointer;
    
                &.current_page_item,
                &:hover {
                    a {
                        opacity: 1;
                    }
                }
    
                a {
                    text-decoration: none;
                    font-family:  $navigation-font-family;
                    font-size: $navigation-font-size;
    
                    color: $navigation-color;
                    opacity: 0.4;
    
                    @include transition($transition);
                }
            }
        }
    
        .brand {
            background-color: #fff;
            margin-top: 25px;
            float: right;
        }
    
        .header.tagline {
            margin-top: 30px;
            margin-bottom: 20px;
            margin-left: 10px;
            
            color: #fff;
        }
    
        .sub-header{
            margin-left: 10px;
        }
    
        .menu-secondary-menu-container {
            margin-top: 30px;
            float: right;
        }
    
        .widget { 
            margin-left: 10px;
        }
    }
}