.background-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 200;
}

.header {
    margin-top: $navigation-margin;
    margin-bottom: $navigation-margin;

    position: relative;
} 